<%- include("../includes/head.ejs") %> 

 <!-- My CSS -->
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/class.css" />
    
    <title>DoSo | a NatGem doubt solving app</title>
  </head>
  <body>

    <%- include("../includes/navigation.ejs") %> 

    <main class="main-body slidein-bottom" id="main-body">
       
        <h2>Enrolled Classes</h2>
        <ul class="class-list">
            <%if(enrolledClasses){%>
                <% enrolledClasses.forEach(cls=>{%>
                    <li class="class">
                        <h4 class="title"><%= cls.classId.name %></h4>
                        <h6 class="t-name"><%=cls.classId.owner.name%></h6> 
                        <h6 class="code"><%= cls.classId.subject %></h6>
                        <a href="/class/<%= cls.classId._id %>"><i class="fas fa-arrow-right"></i></a>
                    </li>
                <%}) %> 
            <% }else{ %>
            <% } %>  
        </ul>
        <h2>Your Classes</h2>
        <ul class="class-list">
            <%if(classes){%>
                <%classes.forEach(cls=>{%>
                    <li class="class">
                        <h4 class="title"><%= cls.classId.name %></h4>
                        <h6 class="t-name"><%=cls.classId.owner.name%></h6> 
                        <h6 class="code"><%= cls.classId.subject %></h6>
                        <a href="/class/<%= cls.classId._id %>"><i class="fas fa-arrow-right"></i></a>
                        </li>
                <%})%>
            <%}else{%>

            <%}%>
        </ul>

        <i id="plus-btn" class="fas fa-plus-circle fa-2x plus-btn"></i>
        <div class="overlay-background hide" id="class-menu-overlay">
            <div class="overlay">
                <a class="os" href="/class/create">Create new Class</a>
                <a class="os" href="/class/join">Join a Class</a>
                <button class="btn btn-dark"id="close-overlay">CLOSE</button>
            </div>
        </div>
    </main>



<%- include("../includes/end.ejs") %> 